@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Great+Vibes&family=Comforter+Brush&family=Source+Code+Pro&family=Amatic+SC:wght@400;700&family=Montagu+Slab&family=Yuji+Syuku&family=VT323&family=Press+Start+2P&display=swap");

:root {
  --title-main: #2a71ac;
  --title-mid: #70234a;
  --title-hover: #9c3167;
  --outline-border: #313131;
  --bg-primary: #ffd2d1;
  --bg-light: #fae0e0;
  --bg-alt: #a1ecff;
  --type-fx: #fae0e0;
  --contact-hover: #70234a;
  --contact-text: #313131;
  --bg-transparent: rgba(22, 141, 170, 0.5);
  --transparency: 20%;
  --icon-border: none;
  --box-shadow: -1px -1px 5px rgba(169, 235, 255, 0.884), 1px -1px 5px rgba(169, 235, 255, 0.884), -1px 1px 5px rgba(169, 235, 255, 0.884), 1px 1px 5px rgba(169, 235, 255, 0.884);
  --box-shadow-hover: -1px -1px 10px rgba(255, 132, 95, 0.884), 1px -1px 10px rgba(255, 156, 138, 0.884), -1px 1px 10px rgba(255, 109, 109, 0.884), 1px 1px 10px rgba(255, 147, 115, 0.884);

}

.dark-mode {
  --title-main: #CFFFF4;
  --title-mid: #009979;
  --title-hover: #E7DBFF;
  --outline-border: #CFFFF4;
  --bg-primary: #282828;
  --bg-light: #313131;
  --bg-alt: #CFFFF4;
  --type-fx: #e9e9e9;
  --contact-hover: #CFFFF4;
  --contact-text: #e9e9e9;
  --bg-transparent: rgba(48, 48, 48, 0.541);
  --transparency: 45%;
  --icon-border: 1px solid #EFF;
  --box-shadow: -1px -1px 5px rgba(239, 197, 255, 0.445), 1px -1px 5px rgba(239, 197, 255, 0.445), -1px 1px 5px rgba(239, 197, 255, 0.445), 1px 1px 5px rgba(239, 197, 255, 0.445);
  --box-shadow-hover: -1px -1px 10px rgba(239, 197, 255, 0.445), 1px -1px 10px rgba(239, 197, 255, 0.445), -1px 1px 10px rgba(239, 197, 255, 0.445), 1px 1px 10px rgba(239, 197, 255, 0.445);
}


.cursive {
  font-family: "Yuji Syuku", sans-serif;
  font-weight: 400;
}

.serif {
  font-family: "Yuji Syuku", serif;
}

.standard {
  font-family: "Lato", monospace;
}

.mono {
  font-family: "Source Code Pro", monospace;
}

.mono-title {
  font-family: "VT323", monospace;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}

.main-format {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content-shell2 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.content-shell {
  position: relative;
  padding-top: 4rem;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.bg-img { 
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) and (orientation: portrait) {
  .bg-img {
    display: flex;
    min-width: 250%;
    height: 100%;
  }
}

@media (max-width: 400px) and (orientation: portrait) {
  .bg-img {
    display: flex;
    min-width: 300%;
    height: 100%;
  }
}

.bg-layer {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
}

.autumn {
  background-image: linear-gradient(to bottom right, rgb(245, 87, 39), rgb(20, 110, 73));
  opacity: var(--transparency);
}

.winter {
  background-image: linear-gradient(to bottom right, rgb(142, 69, 226), rgb(41, 219, 166) );
  opacity: var(--transparency);
}

.summer {
  background-image: linear-gradient(to bottom right, rgb(22, 167, 252), rgb(231, 213, 45));
  opacity: var(--transparency);
}

.spring {
  background-image: linear-gradient(to bottom right, rgb(79, 220, 255), rgb(255, 166, 1));
  opacity: var(--transparency);
}

.dawn {
  background-image: linear-gradient(to bottom right, rgb(193, 241, 255), rgb(0, 38, 141));
  opacity: var(--transparency);
}


/****** NavBar ******/

.nav-main {
  display: flex;
  position: fixed;
  background-color: var(--bg-primary);
  width: 100%;
  z-index: 2;
  height: 6.5rem;
  transition: background-color 1.5s, color 1.5s;
}

.nav-container {
  z-index: 2;
  margin: 0rem 0rem 0rem 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1.2rem;
}

.navlink-src {
  display: inline-flex;
  justify-items: center;
  padding-right: 1.5rem;
  color: var(--title-main); 
  font-size: 5rem; 
  font-weight: bold; 
  letter-spacing: 0.1rem;
  text-shadow: -1px -1px 0 var(--bg-primary), 1px -1px 0 var(--bg-primary), -1px 1px 0 var(--bg-primary), 1px 1px 0 var(--bg-primary);
  transition: color 1.5s, text-shadow 1.5s;
}

.navlink-src:hover {
  color: var(--title-hover);
  text-shadow: -1px -1px 0px var(--outline-border), 1px -1px 0px var(--outline-border), -1px 1px 0px var(--outline-border), 1px 1px 0px var(--outline-border);
  transition-duration: 0.2s;
}

.nav-small {
  display: none;
}


/****** navlink:hover ******/

.navlink {
  display: inline-flex;
  font-size: 1.1rem;
  justify-items: center;
  padding: 1rem 0.5rem;
  margin: 0 1rem;
  color: var(--title-main);
  text-align: left;
  border-top: 0.12rem solid var(--bg-primary);
  padding-top: 0.2rem;
  transition: color 1.5s;
  transition: color 0.5s, border 1.5s;
}

.navlink:hover {
  color: var(--title-hover);
  padding-top: 0.2rem;
  border-top: 0.12rem solid var(--title-hover);
  transition: color 0.5s, border 0.5s;
}

.nav-social {
  justify-content: space-between;
  align-items: center;
  display: inline; 
}

.icon {
  border: var(--icon-border);
  border-radius: 100%;
  box-shadow: var(--box-shadow);
}

.icon:hover {
  box-shadow: var(--box-shadow-hover);
  transition: 0.25s;
}

.nav-li {
  display: none;
}

/****** Dark Mode Toggle ******/

.theme-switch-wrapper {
  display: inline-flex;
  padding-top: 0.5rem;
  margin-left: auto;
  margin-right: 1.2rem;
  align-items: right;
  justify-items: right;
  flex-direction: column;
}

.theme-switch-wrapper p {
  font-family: "Source Code Pro", monospace;
  padding-top: none;
  color: var(--title-hover);
  font-size: 0.7rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #222222;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/****** NavBar Tablet ******/

@media (max-width: 970px) {

  .nav-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .nav-large {
    display: none;
  }

  .nav-small {
    display: flex;
  }
 
  .hamburger {
    display: inline-flex;
    color: var(--title-main);
    width: 45px;
    height: 45px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.3rem;
    border: 1px solid var(--bg-primary);
    border-radius: 3px;
    transition: 1.5s;
  }

  .hamburger:hover {
    border: 1px solid var(--title-main);
    border-radius: 3px;
    transition: 0.25s;
  }

  .nav-li {
    display: block;
    flex-direction: column;
    justify-items: center;
    width: 11rem;
    padding: 1.5rem 0rem;
    margin: 0 1rem;
    color: var(--title-main);
    font-size: 1.5rem;
    text-align: left;
    border-top: 2px solid var(--bg-primary);
    padding-top: 0.2rem;
    transition: color 0.5s, border 0.5s;
  }

  .nav-li:hover {
    color: var(--contact-hover);
    padding-top: 0.2rem;
    border-top: 2px solid var(--contact-hover);
    transition: color 0.5s, border 0.5s;
  }

  .close {
    display: inline-flex;
    margin: auto;
    width: 45px;
    height: 45px;
    color: var(--title-main);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.3rem;
  }

  .close:hover {
    color: var(--title-hover);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition-duration: 0.25s;
  }

  .drop {
    display: inline;
    position: fixed;
    margin-top: 5.5rem;
  }

  .dropdown-container {
    display: flex;
    z-index: 1;
    flex-direction: column;
    position: relative;
    width: 16rem;
    background-color: var(--bg-primary);
    transition-duration: 0.5;
  }

  .dropdown-menu {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    padding-left: 1.2rem;
    padding-right: 2rem;
    margin-bottom: 0.2rem;
  }
  
  .icon {
    max-height: 45px;
    max-width: 45px;
    margin-right: 1rem;
  }
} 

/****** Navbar Mobile ******/

@media (max-width: 400px) {
  .nav-container {
    padding-left: 0.5rem;
    padding-right: 0.5rem
  }

  .navlink-src {
    font-size: 3.5rem;
    margin-top: auto;
    margin-bottom: auto;  
    padding-right: 0.5rem;
  }

  .hamburger {
    margin-left: none;
    width: 35px;
    height: 35px;
  }

  .close {
    width: 35px;
    height: 35px;
  }
    
  .icon {
    max-height: 30px;
    max-width: 30px;
    margin-right: 1rem;
  }
}

/****** Home ******/


.home-title {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  min-height: screen;
  padding: 5rem 2rem 0 2rem;
  
}

.home-title-text {
  margin-top: 5rem;
  font-size: 12vw;
  text-align: center;
  text-shadow: 5px 5px var(--bg-alt);
  color: var(--title-hover);
  display: flex;
  line-height: 1.375;
  transition: color 1.5s;
}

.type-div {
  position: relative;
  display: flex;
  justify-content: right;
  padding-top: 1.5rem;
  max-width: 92.5vw;
  text-align: right;
}

.type-fx {
  background-color: var(--bg-transparent);
  border-radius: 5px;
  font-size: 2.5rem;
  text-align: right;
  color: var(--type-fx);
  padding: 0rem 1rem;
  transition: 1.5s;
} 

/****** Home Mobile ******/ 
@media (max-width: 600px) {
  .type-fx {
    font-size: 1.8rem;
  }
}

@media (max-width: 400px) {
  .home-title {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .type-fx {
    font-size: 1.2rem;
  }
}

/****** Blog Posts ******/

.blog-section {
  display: relative;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.blogs-title { 
  display: flex;
  justify-content: center;
  font-size: 8.3vw;
  color: var(--title-hover);
  text-shadow: -2px -2px 1px var(--bg-alt), 2px -2px 1px var(--bg-primary), -2px 2px 1px var(--bg-primary), 2px 2px 1px var(--bg-primary);
}

.blogs-desc-div {
  position: relative;
  display: flex;
  justify-content: right;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}

.blogs-desc {
  display: flex;
  background-color: var(--bg-transparent);
  font-size: 1.2rem;
  color: var(--type-fx); 
  justify-content: center;  
  padding: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.blog-posts-div {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  row-gap: 30px;
  border-radius: 5px;
  width: auto;
  padding: 3rem;
}

.blog-post {
  display: block;
  height: 320px;
  width: 440px;
  position: relative; 
  border-radius: 10px; 
  line-height: 1.375rem; 
  background-color: white; 
  border-width: 8px; 
  border-color: var(--bg-primary);
  transition: 0.25s;  
}

.blog-post:hover {
  box-shadow: 0px 8px 12px 0 rgba(255, 255, 255, 0.5), 0px 10px 20px 0 rgba(255, 255, 255, 0.5);
  transition: 0.25s;
}

.blog-post-image {
  position: absolute;
  width: 100%;
  height: 100%; 
  border-radius: 6px;
  object-fit: cover;
}

.blog-title-container {
  display: flex;
  position: relative;
  border-radius: 0px;
  height: 100%; 
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 0rem;
}

.blog-title {
  color: lightgrey;
  font-size: 1.5rem; 
  padding: 1rem 0.75rem;
  background-color: rgba(247, 223, 255, 0.7);
  color: var(--green-dark); 
} 

/****** Blogs Mobile ******/

@media ( max-width: 1150px ) {

  .blogs-title {
    font-size: 10vw;
  }

  .blog-post {
    height: 256px;
    width: 352px;
  }
}

@media ( max-width: 1000px ) {
  .blogs-title {
    font-size: 12vw;
  } 

  .blog-posts-div {
    grid-template-columns: 1fr;
  }

  .blog-post {
    height: 320px;
    width: 440px;
  }
}

@media ( max-width: 600px ) {
  .blog-post {
    height: 220px;
    width: 300px;
  }
}

/****** Single Post ******/

.post-text-container {
  background-color: var(--indigo-light);
  padding-top: 10rem;
  border-radius: 5px;
  text-align: center;
}

.post-header {
  position: relative;
  border-radius: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.post-div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.post-title-div {
  background-color: var(--bg-light);
  opacity: 80%;
  border-radius: 5px; 
  padding: 3rem;
}

.post-title-text {
  color: var(--title-main);
  font-size: 4.5rem;
  margin-bottom: 1.5rem;
}

.author-div {
  color: var(--title-main);
  display: flex; 
  justify-content: center; 
}

.author-thumbnail {
  max-width: 60px;
  max-height: 60px;
  border-radius: 100%;
}

.author-name {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-size: 2.5rem;
}

.post-image {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.post-body-text {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-right: 4rem;
  margin-left: 4rem;
  margin-bottom: 3rem;
  background-color: var(--bg-light);
}

.post-body-text p {
  font-family: "Source Code Pro", monospace;
  color: var(--contact-text);
  padding-left: 8rem;
  padding-right: 8rem;
}

/****** Project Page *******/



.projects-section {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  margin-top: 5.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.projects-title {
  display: flex;
  justify-content: center;
  font-size: 8.3vw;
  color: var(--title-hover);
  text-shadow: -2px -2px 1px var(--bg-alt), 2px -2px 1px var(--bg-primary), -2px 2px 1px var(--bg-primary), 2px 2px 1px var(--bg-primary);
}

.projects-desc-div {
  position: relative;
  display: flex;
  justify-content: right;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}

.projects-desc {
  display: flex;
  background-color: var(--bg-transparent);
  font-size: 1.2rem;
  color: var(--type-fx); 
  justify-content: center;
  padding: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.projects-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-left: 4rem;
  padding-right: 4rem;
}

.project-article {
  display: block;
  align-items: space-between;
  align-content: stretch;
  justify-content: center;
  border-radius: 10px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--bg-light);
  max-width: 400px;
  height: 220px;
  padding: 1rem;
}

.project-title {
  color: var(--title-main);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.project-title:hover {
  color: var(--title-hover);
}

.project-details {
  justify-content: space-between;
  align-items: center;
  color: var(--outline-border);
  font-size: 0.55rem ;
  margin-right: 1rem;
  margin-left: 0rem;
}

.project-span {
  margin-right: 10px;
}

.project-desc {
  margin: 0.75rem 0;
  font-size: 0.7rem;
  color: var(--outline-border); 
  line-height: 1.625;
}

.project-link-div {
  margin-bottom: auto;
}

.project-link {
  color: var(--title-mid); 
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.25s;
}

.project-link:hover {
  color: var(--title-hover);
  text-shadow: -1px -1px 1px var(--outline-border), 1px -1px 1px var(--outline-border), -1px 1px 1px var(--outline-border), 1px 1px 1px var(--outline-border);
  transition: 0.25s;
}

/****** Projects Mobile ******/

@media ( max-width: 1200px ) {
  .projects-grid {
    grid-template-columns: auto auto;
  }

  .project-article {
    max-width: 450px;
    min-height: 200px;
    max-height: 350px;
  }
}

@media ( max-width: 900px ) {
  .projects-grid {
    grid-template-columns: auto;
  }
  
  .projects-main {
    background-color: var(--green-light);
    min-height: 100vh;
    padding: 3rem;
  }
  
  .projects-title {
    display: flex;
    font-size: 7.3vw;
    justify-content: center;
  }
  
  .projects-desc {
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .project-article {
    align-self: center;
  }
}

/****** About Me ******/


.about-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 3rem;
  background-color: var(--bg-primary); 
  border-radius: 8px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-img {
  display: block;
  border-radius: 100%;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin-right: 3rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.bio-div {
  display: inline;
  justify-self: right;
  justify-content: left;
  flex-direction: column;
  padding: 1rem;
  margin-left: auto;
  background-color: var(--bg-light);
}

.bio-title {
  font-size: 4vw;
  color: var(--title-main);
  margin-bottom: 1rem;
}

.about-bio {
  text-align: left;
  color: var(--title-main);
  font-size: 1.2rem;
}

/****** About Mobile ******/

@media (max-width: 1000px) {
  .about-img {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bio-title {
    font-size: 5.5vw;
    color: var(--title-main);
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .about-bio {
    color: var(--title-main);
    text-align: center;
    font-size: 1.1rem;
    margin: 1rem;
  }
}


/****** Contact Me ******/

.contact-me {
  position: relative;
  background-color: var(--bg-primary);
  margin-top: 3rem;
  margin-left: 8vw;
  margin-right: 8vw;
  padding-bottom: 4rem;
  height: auto;
  border-radius: 15px;
  text-align: center;
}

.contact-header {
  padding-top: 1rem;
  font-size: 3rem;
  color: var(--title-main);
}

.contact-desc {
  color: var(--title-main);
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 1.5rem;
  width: 400px;
}

.contact-grid {
  display: grid;
  max-height: 40%;
  grid-template-columns: 1fr 2fr;
  grid-auto-flow: row dense;
  grid-gap: 20px;
  padding-left: 3rem;
  justify-items: start;
}

.contact-input {
  display: block;
  color: var(--contact-text);
  background-color: var(--bg-light);
  border-bottom: 2px solid var(--bg-primary);
  min-width: 100px;
  size: 28;
 }

.contact-input:focus {
  outline: none;
  color: var(--title-main);
  border-bottom: 2px solid var(--title-hover);
  transition: 0.5s;
 }

.contact-body {
  resize: none;
  display: block;
  width: 100%;
  min-width: 40%;
  min-height: 170px;
  background-color: var(--bg-light);
  border-bottom: 2px solid var(--bg-primary);
 }

.contact-body:focus {
  outline: none;
  color: var(--outline-border);
  border-bottom: 2px solid var(--title-hover);
  transition: 0.5s;
}

.contact-button {
  display: block;
  color: var(--title-main);
  text-align: left;
  min-width: 100%;
  border-bottom: 2px solid var(--bg-primary);
  transition: 0.5s;
}

.contact-button:hover {
  outline: none;
  color: var(--title-hover);
  border-bottom: 2px solid var(--title-hover);
  transition: 0.5s;
}

.grid-1 {
  grid-column: 1;
  grid-row: 1;
}

.grid-2 {
  grid-column: 1;
  grid-row: 2;
}

.grid-3 {
  grid-column: 1;
  grid-row: 3;
}

.grid-4 {
  grid-column: 1;
  grid-row: 4;
}

.grid-5 {
  width: 100%;
  padding-right: 3rem;
  grid-column: 2;
  grid-row: span 4;
}

.grid-6 {
  width: 100%;
  padding-right: 3rem;
  grid-column: 2;
  grid-row: 5;
}

/****** Contact Mobile ******/

@media (max-width: 900px) {
  
  .contact-me {
    margin-bottom: 4rem;
  }

  .contact-grid {
    display: grid;
    max-height: 40%;
    grid-template-columns: 1fr;
    padding-left: 0rem;
    justify-items: center;
  }

  .contact-button {
    text-align: left;
    width: 70%;
    transition: 0.5s;
  }

  .grid-5 {
    width: 70%;
    padding-right: 0rem;
    grid-column: 1;
    grid-row: 5;
  }
  
  .grid-6 {
    width: 70%;
    padding: 0rem;
    grid-column: 1;
    grid-row: 6;
  }
}