@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Great+Vibes&family=Comforter+Brush&family=Amatic+SC:wght@400;700&family=Montagu+Slab&family=Yuji+Syuku&family=VT323&family=Press+Start+2P&display=swap");

:root {
  --indigo-light: #E7DBFF;
  --indigo-mid: #ba73f8;
  --green-light: #b6ffef;
  --green-medium: #009979;
  --green-dark: #01664b;
  --green-light: #CFFFF4;
  --dark-grey: #282828;
}

.cursive {
  font-family: "Yuji Syuku", sans-serif;
  font-weight: 400;
}

.serif {
  font-family: "Yuji Syuku", serif;
}

.standard {
  font-family: "Lato", monospace;
}

.mono {
  font-family: "VT323", monospace;
}

.prose img {
  margin-left: auto;
  margin-left: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}

/****** NavBar ******/

.nav-main {
  background-color: var(--dark-grey);
  z-index: 2;
  height: 6.5rem;
}

.nav-container {
  margin: 0rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0px 1.2rem;
}

.navlink-src {
  display: inline-flex;
  justify-items: center;
  padding: 0.5rem 2rem;
  color: var(--dark-grey); 
  font-size: 3rem; 
  font-weight: bold; 
  letter-spacing: 0.1rem;
  text-shadow: -1px -1px 0 #EFF, 1px -1px 0 #EFF, -1px 1px 0 #EFF, 1px 1px 0 #EFF;
  transition-duration: 0.25s;
}

.navlink-src:hover {
  color: var(--green-dark);
  text-shadow: -1px -1px 0 #EFF, 1px -1px 0 #EFF, -1px 1px 0 #EFF, 1px 1px 0 #EFF;
  transition-duration: 0.25s;
}

.nav-small {
  display: none;
}


/****** navlink:hover ******/

.navlink {
  display: inline-flex;
  justify-items: center;
  padding: 1rem 0.5rem;
  margin: 0 1rem;
  color: var(--green-light);
  text-align: left;
  border-top: 0.12rem solid var(--dark-grey);
  padding-top: 0.2rem;
  transition: color 0.5s, border 2s;
}

.navlink:hover {
  color: var(--indigo-light);
  padding-top: 0.2rem;
  border-top: 0.12rem solid var(--indigo-light);
  transition: color 0.5s, border 0.5s;
}

.nav-social {
  align-items: center;
  display: inline; 
  padding-top: 0.8rem;
  margin-left: auto;
}

.icon {
  border: 1px solid #EFF;
  border-radius: 100%;
  box-shadow: -1px -1px 5px rgba(223, 95, 255, 0.19), 1px -1px 5px rgba(223, 95, 255, 0.19), -1px 1px 5px rgba(223, 95, 255, 0.19), 1px 1px 5px rgba(223, 95, 255, 0.19);
}

.nav-li {
  display: none;
}


/****** NavBar Mobile ******/

@media (max-width: 970px) {
  
  .nav-large {
    display: none;
  }

  .nav-small {
    display: flex;
  }
 
  .hamburger {
    display: inline-flex;
    margin: auto;
    color: var(--green-light);
    margin-top: 1.8rem;
    margin-left: 0.3rem;
    border: 1px solid var(--indigo-light);
    border-radius: 3px;
  }

  .hamburger:hover {
    border: 1px solid var(--indigo-mid);
    border-radius: 3px;
  }

  .nav-li {
    display: inline-flex;
    flex-direction: column;
    justify-items: center;
    width: 15rem;
    padding: 1rem 0.5rem;
    margin: 0 1rem;
    color: var(--green-light);
    text-align: left;
    border-top: 0.12rem solid var(--dark-grey);
    padding-top: 0.2rem;
    transition: color 0.5s, border 2s;
  }

  .nav-li:hover {
    color: var(--indigo-light);
    padding-top: 0.2rem;
    border-top: 0.12rem solid var(--indigo-light);
    transition: color 0.5s, border 0.5s;
  }

  .close {
    display: inline-flex;
    margin: auto;
    color: var(--green-light);
    margin-top: 1.8rem;
    margin-left: 0.3rem;
  }

  .close:hover {
    color: var(--indigo-light);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition-duration: 0.25s;
  }

  .dropdown-container {
    display: flex;
    z-index: 1;
    flex-direction: column;
    position: relative;
    width: 21.5rem;
    background-color: var(--dark-grey);
    transition-duration: 0.5;
  }

  .dropdown-menu {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
  }
}

/****** Home ******/

.home-bg {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.home-title {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  min-height: screen;
  padding: 5rem 2rem 0 2rem;
}

.home-title-text {
  font-size: 10rem;
  font-size: 12vw;
  text-align: center;
  text-shadow: 5px 5px var(--green-dark);
  color: var(--green-light);
  display: flex;
  line-height: 1.375;
}

.type-div {
  position: relative;
  display: flex;
  justify-content: right;
  padding-top: 1.5rem;
  max-width: 92.5vw;
  text-align: right;
}

.type-fx {
  background-color: rgba(55, 55, 15, .6);
  border-radius: 5px;
  font-size: 2.5rem;
  text-align: right;
  color: var(--indigo-mid);
  padding: 0rem 1rem;
}

.particle {
  z-index: 3;
}

/****** Blog Posts ******/

.blog-bg {
  background-color: var(--green-light);
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  padding: 1.5rem;
  padding-bottom: 100vw;
}

.blog-container {
  margin-left: auto;
  margin-right: auto;
}

.blog-header { 
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.blog-subheader {
  display: flex;
  justify-content: center;
  margin-bottom: 3.5rem;
  font-size: 1.2rem;
  color: var(--dark-grey);
}

.blog-posts-div {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 20px;
}

.blog-post {
  display: block;
  height: 16rem;
  position: relative; 
  border-radius: 10px; 
  line-height: 1.375rem; 
  background-color: white; 
  border-left-width: 8px; 
  border-right-width: 8px; 
  border-color: var(--green-dark);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-post-image {
  position: absolute;
  width: 100%;
  height: 100%; 
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; 
  object-fit: cover;
}

.blog-title-container {
  display: flex;
  position: relative;
  border-radius: 0px;
  height: 100%; 
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 0rem;
}

.blog-title {
  color: lightgrey;
  font-size: 1.5rem; 
  padding: 1rem 0.75rem;
  background-color: rgba(247, 223, 255, 0.7);
  color: var(--green-dark); 
}

/****** Single Post ******/

.post-bg {
  background-image: linear-gradient(to bottom right, #bebebe, #3f3f3f);  
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  padding: 5rem;
  padding-bottom: 15vw;
}

.post-text-container {
  background-color: var(--indigo-light);
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  text-align: center;
}

.post-header {
  position: relative;
  border-radius: 2rem;
}

.post-div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.post-title-div {
  background-color: white;
  opacity: 70%;
  border-radius: 5px; 
  padding: 3rem;
}

.post-title-text {
  color: var(--dark-grey);
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.author-div {
  color: var(--dark-grey);
  display: flex; 
  justify-content: center; 
}

.author-thumbnail {
  max-width: 50px;
  max-height: 50px;
  border-radius: 25px;
}

.author-name {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.post-image {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.post-body-text {
  font-size: 1.2rem;
  text-align: center;
  color: var(--dark-grey);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 100;
}

/****** Project Page *******/

.projects-bg {
  position: absolute;
  background-repeat: repeat-y;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.projects-layer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--indigo-light);
  opacity: 75%;
}

.projects-section {
  display: inline;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.projects-title {
  display: flex;
  font-size: 3rem;
  color: var(--dark-grey);
  justify-content: center;
}

.projects-desc {
  display: flex;
  font-size: 1.2rem;
  color: var(--dark-grey); 
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 3rem;
}

.projects-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.project-article {
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 10px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  max-width: 350px;
  max-height: 250px;
  padding: 1rem;
}

.project-title {
  color: var(--indigo-mid);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.project-title:hover {
  color: var(--green-medium);
}

.project-details {
  justify-content: space-between;
  color: var(--dark-grey) ;
  font-size: 0.75rem ;
  margin-right: 1rem;
  margin-left: 0rem;
}

.project-span {
  margin-right: 10px;
}

.project-desc {
  margin: 0.75rem 0;
  font-size: 0.9rem;
  color: var(--dark-grey); 
  line-height: 1.625;
}

.project-link {
  color: var(--indigo-mid); 
  font-size: 1.2rem;
  font-weight: bold;

}

.project-link:hover {
  text-decoration: underline;
  color: var(--green-medium);
}

/****** Projects Mobile ******/

@media ( max-width: 1154px ) {
  .projects-grid {
    grid-template-columns: auto auto;
  }

  .project-article {
    max-width: 450px;
    min-height: 200px;
    max-height: 350px;
  }
}

@media ( max-width: 900px ) {
  .projects-grid {
    grid-template-columns: auto;
  }
  
  .projects-main {
    background-color: var(--green-light);
    min-height: 100vh;
    padding: 3rem;
  }
  
  .projects-title {
    display: flex;
    font-size: 2.5rem;
    color: var(--dark-grey);
    justify-content: center;
  }
  
  .projects-desc {
    display: flex;
    font-size: 1rem;
    color: var(--dark-grey); 
    justify-content: center;
    margin-bottom: 3rem;
  }

  .project-article {
    align-self: center;
  }
}

/****** About Me ******/

.about-bg {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-div {
  position: relative;
  padding: 4rem; 
  margin-left: auto;
  margin-right: auto;
}

.about-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--green-dark); 
  border-radius: 25px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 4rem;
}

.about-img {
  border-radius: 100%;
  width: 16rem;
  width: 16rem;
  margin-right: 5rem;
}

.bio-div {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}

.bio-title {
  font-size: 3rem;
  color: var(--green-light);
  margin-bottom: 1rem;
}

.about-bio {
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0.5rem;
}

/****** About Mobile ******/

@media (max-width: 1200px) {
  .about-img {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bio-title {
    font-size: 2.2rem;
    color: var(--green-light);
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .about-bio {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem;
  }
}


/****** Contact Me ******/

.contact-bg { 
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contact-me {
  z-index: 1;
  position: relative;
  background-color: var(--indigo-light);
  margin-top: 4rem;
  margin-left: 8vw;
  margin-right: 8vw;
  border-radius: 15px;
  text-align: center;
  height: 80vh;
}

.contact-header {
  padding-bottom: 1.5rem;
}

.contact-header h1 {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.contact-grid {
  display: grid;
  max-height: 40%;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(5 1fr);
  grid-gap: 20px;
  justify-content: start;
}

.contact-input {
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
 }

 .contact-body {
  margin-bottom: 1rem;
 }

.contact-button {
  background-color: var(--indigo-mid);
  border-radius: 0.2rem;
  border: var(--green-dark) 1px solid;
  margin-bottom: 1rem;
}

.grid-1 {
  grid-column: 1/2;
  grid-row: 1;
}

.grid-2 {
  grid-column: 1/2;
  grid-row: 2;
}

.grid-3 {
  grid-column: 1/2;
  grid-row: 4;
}

.grid-4 {
  grid-column: 1/2;
  grid-row: 4;
}

.grid-5 {
  grid-column: 2;
  grid-row: 1/4;
}

.grid-6 {
  grid-column: 2;
  grid-row: 5;
}



